@charset "UTF-8";
/*em HTML é id e em CSS é # (só pode um)
 em HTML é class e em CSS é . (pode ter vários)*/

body{
 background-color: #4D2CD0;
 font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #341D8C;
}

#principal{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #27166A;
}

h2{
    color: #1B0F48;
}

.basico{
    color: #170c42;
}

.intermediario{
    color: #341D8C;
}

.avançado{
    color: #27166A;
}

